@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&family=Playfair+Display:wght@400;700&display=swap');

* {
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --font-sans: 'Inter', sans-serif;
  --font-serif: 'Playfair Display', serif;
}
body {
  font-family: var(--font-serif);
}
h1,h2,h3,h4,h5,.display-1,.display-2,.display-3 {
  font-family: var(--font-sans);
  font-weight: 700;
}
.font-serif {
  font-family: var(--font-serif);
}
.font-sans {
  font-family: var(--font-sans);
}
#header > .container,#about, #skills {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav {
  flex-grow: 1;
  align-self: stretch;
}
#hero {
  flex-grow: 50;
  align-self: stretch;
}
.icons {
  font-size: 1.5rem;
 }
